body {
    background-color:#f3f3f3;
}

#main {
  margin-top:100px;
}

/* Splash screen */
#splash {
  background-color: #4F45CF; /* nerif blue: #0059EA purple: #4F45CF;  #7083ad */
  color: #ffffff;
  height: 100vh;
  text-align: center;
  margin-bottom: 72px;
}

span.splash-spotlight {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

h1.splash-spotlight {
  font-size:72px;
}

.imgbox {
  height: 100vh;
  position: relative;
  margin: auto;

  background-image: url('splash-design-concept.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.splash-image {
  max-height: 100vh;
  margin: auto;
}

.splash-button {
  max-height: 20vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 20px;
  left: 0;
  right:0;
}


.top > * {
  vertical-align: top;
}


.bottom > * {
  vertical-align: bottom;
}

/* Rest of app */

.text-align-middle {
  text-align: center;
  vertical-align:middle;
}

.header-frame {
  height: 200px;
}

#app {
    background-color:#f3f3f3;
    overflow:auto; /* https://stackoverflow.com/questions/13573653/css-margin-terror-margin-adds-space-outside-parent-element */
}

#partner-logos {
  color:#000000;
}

.card-img-top{
  width:100%;
  height:auto;
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: 150px; /* only if you want fixed height */
}


h1.value-prop-main {
  font-size:48px;
}

.value-prop-aux {
  color:#a7a7a7;
}


.center-container {
  height: 100px;
  
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
}